<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Team Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content">
  <ion-list class="chat-list">
    <ion-item *ngFor="let message of messages">
      <div
        [ngClass]="{'message-sent': message.sender === currentUser, 'message-received': message.sender !== currentUser}">
        <div class="message">{{ message.text }}</div>
        <div class="message-time">{{ message.time }}</div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="chat-footer">
  <ion-toolbar>
    <ion-textarea class="chat-input" placeholder="Type a message..." [(ngModel)]="newMessage"></ion-textarea>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>