<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Assistant Coaches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<tp-coach-list [coaches]="coaches" [readonly]="readonly"></tp-coach-list>
<ion-fab *ngIf="!readonly" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="addCoach()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>

