<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="plans">
      <ion-icon name="calendar-outline"></ion-icon>
      Plans
    </ion-tab-button>
    <ion-tab-button tab="periods">
      <ion-icon name="clipboard-outline"></ion-icon>
      Periods
    </ion-tab-button>
    <ion-tab-button tab="coaches">
      <ion-icon name="people-outline"></ion-icon>
      Coaches
    </ion-tab-button>
    <ion-tab-button tab="templates">
      <ion-icon name="copy-outline"></ion-icon>
      Templates
    </ion-tab-button>
    <ion-tab-button tab="tags">
      <ion-icon name="pricetag-outline"></ion-icon>
      Tags
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>