<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Subscribe to Head Coach
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Head Coach Subscription
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Get full access to the Practice Plan App with a 14-day free trial. After the trial period, payment of
        $2.49/month will be charged to your account. Your subscription will automatically renew unless cancelled at
        least 24 hours before the end of the current period.</p>
      <p>You can manage your subscription by clicking the button below.</p>
    </ion-card-content>
  </ion-card>


  <ion-button expand="block" color="primary">Start 14-day free trial</ion-button>

  <ion-button expand="block" color="secondary">Manage Subscription</ion-button>
</ion-content>